<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-600 text-white p-4 flex justify-between items-center">
        <h1 class="text-2xl">Library Management System</h1>
        <form class="flex items-center" action="/search" method="GET">
            <input type="text" placeholder="Search books..." name="query" class="p-2 rounded-l border-0  text-gray-800">
            <input type="submit" value="Search" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r">
        </form>
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" onclick="window.location.replace('/dashboard')">Home</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="logout()">Logout</button>
    </header>
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-2xl mx-auto my-5">
        <h1 class="text-3xl font-bold mb-4"><%= book.title %></h1>
        <p class="text-gray-700 mb-2"><strong>BOOK ID:</strong> <%= book.book_id %></p>
        <p class="text-gray-700 mb-2"><strong>Author:</strong> <%= book.author %></p>
        <p class="text-gray-700 mb-2"><strong>ISBN:</strong> <%= book.isbn %></p>
        <p class="text-gray-700 mb-2"><strong>Location:</strong> <%= book.location %></p>
        <p class="text-gray-700 mb-4"><strong>Rating:</strong> <%= Number(book.rating)/book.rating_count %> (based on <%= book.rating_count %> reviews)</p>
        <h2 class="text-2xl font-bold mb-2">Reviews:</h2>
        <ul class="list-disc list-inside mb-4">
            <% book.reviews.forEach(review => { %>
                <li class="text-gray-700"><%= review %></li>
            <% }) %>
        </ul>
        <a href="/addRatingReview/<%= book.book_id %>" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add Rating and Review</a>
    </div>
</body>
</html>
